.contLanding{
    background-image: url('../../imagenes/matrixGif.gif');
    height: 100%;
}
.cont2{
    display:flex;
    align-items: center;
    justify-content:center;
}
.contImagTexto{
    background-color: black;    
    display:flexbox;
    text-align: center;
    justify-content:center;
    margin-top: 7%;
    width: 85%;    
    height: 470px;
}
.contGif{
    margin-top: 2rem;
}
.gifP{
    border-radius: 30px;
    width: 200px;
}
.contTexto1{
    color: white;
    font-size: 25px;
}
.contTexto2{
    color: white;
    font-size: 25px;
    margin-top: 3rem;
}
.btnPersonal, .btnPersonal2{    
    margin-top: 2rem;
    margin-left: 3px;
    padding: 5px 10px;    
}
.contLocalizImg{
    margin-top: 6rem;
}

.btnGeoloc{
background-color: black;
color: darkgray;
}
.btnGeoloc:hover{
    color: rgb(20, 229, 20);
    animation: btnGeoloc 0.5s 1;
}
@keyframes btnGeoloc{
    25%,85%{
        transform: scale(0.8)
    }
    50%{
        transform: scale(1.1)
    }
}

.modal1{
    margin-top: 2.5rem;
}
.tituloP, .tituloSkills{
    text-align: center;
    color: aqua;
    margin-top: 60px;
    background-color: black;
    margin-bottom: 0;
}
.tituloSkills{
    margin-top: 120px;
}