.contLanding{
    background-image: url('../../../imagenes/matrixGif.gif');
    height: 100vh;
}
.contImagTexto{
    background-color: black;    
    align-items: center;
    justify-content:center;
    margin-top: 10%;
    padding-left: 45%;
    height: 300px;
}
.gifP{
    border-radius: 30px;
    width: 200px;
}
.texto1{
    color: white;
    width: 200px;
    
}