.contNavbar{
    background: rgba(10, 12, 23, 0.81);
    /* background: radial-gradient(circle, rgba(10, 12, 23, 0.311) 50%, rgba(83, 186, 97, 0.004) 100%); */
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.contItemsRedes{
    display: flex;
    align-items: center;
    justify-content:space-around;

    animation-duration: 3s;
    animation-name: slidein;
}
.iconoInsta, .itemGithub, .itemLinkedin, .itemContacto, .itemTextoCont, .itemWhatsApp{
    color: aqua;
    margin-left: 1rem;
}
.contItemContacto{
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: aqua;

    animation-duration: 4s;
    animation-name: slidein;
}
/*animación*/
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }

    /* 75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    } */
}
/* -------------------------------- */


@media screen and (max-width: 300px){
    .iconoInsta, .itemGithub, .itemLinkedin, .itemContacto, .itemTextoCont, .itemWhatsApp{
        margin-left: 0.3rem;
    }
}
@media screen and (max-width: 220px){
    .itemTextoCont{
        display: none;
    }
}
/* 
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
*/